<h1 id="tableLabel">Medicamente</h1>

<p *ngIf="!meds"><em>Loading...</em></p>

<button class="btn btn-primary" [routerLink]="['/view-medicament']">Adauga medicament</button>

<table class='table table-striped' aria-labelledby="tableLabel" *ngIf="meds">
  <thead>
    <tr>
      <th width="40px" align="center">Selectat</th>
      <th>ID</th>
      <th>Denumire</th>
      <th>Gramaj</th>
      <th>Forma</th>
      <th>Descriere</th>
      <th>Actiuni</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let med of meds">
      <td width="40px" align="center">
        <input type="checkbox" [checked]="med.selectat" (change)="selectedChanged(med)">
      </td>
      <td>{{ med.id }}</td>
      <td>{{ med.denumire }}</td>
      <td>{{ med.gramaj }}</td>
      <td>{{ med.forma }}</td>
      <td>{{ med.descriere }}</td>
      <td>
        <button class="btn btn-secondary btn-sm" (click)="modificaClicked(med)">Modifica</button>
      </td>
    </tr>
  </tbody>
</table>

<button style="float: right;" class="btn btn-primary" (click)="stergeClicked()">Sterge</button>
