<h2 id="tableLabel">Fisa pacient</h2>

<form (ngSubmit)="salveazaClicked()">
  <h5 class="form-header">Date personale</h5>
  <div class="row g-2">
    <div class="col col-lg-3">
      <div class="form-floating mb-3">
        <input class="form-control" type="text" id="nume" name="nume" [(ngModel)]="pacient.nume" required>
        <label for="nume">Nume</label>
      </div>
    </div>
    <div class="col col-lg-3">
      <div class="form-floating mb-3">
        <input class="form-control" type="text" id="prenume" name="prenume" [(ngModel)]="pacient.prenume" required>
        <label for="prenume">Prenume</label>
      </div>
    </div>
  </div>
  <div class="row g-2">
    <div class="col col-lg-2">
      <div class="form-floating mb-3">
        <input class="form-control" type="text" id="cnp" name="cnp" [(ngModel)]="pacient.cnp" required>
        <label for="cnp">CNP</label>
      </div>
      <div class="form-floating mb-3">
        <input class="form-control" type="date" id="data_nastere" name="data_nastere" [(ngModel)]="pacient.data_nastere" required>
        <label for="data_nastere">Data nastere</label>
      </div>
    </div>
  </div>

  <h5 class="form-header">Adrese</h5>
  <div class="row g-2">
    <div class="col col-lg-3">
      <div class="form-floating mb-3">
        <select class="form-select" id="tip_adresa" aria-label="Floating label select example">
          <option selected>Acasa</option>
          <option value="1">Munca</option>
          <option value="2">Alta</option>
        </select>
        <label for="tip_adresa">Tip adresa</label>
      </div>
    </div>
    <div class="row g-2">
      <div class="col col-lg-3">
        <div class="form-floating mb-3">
          <input class="form-control" type="text" id="adresa" name="adresa" required>
          <label>Adresa</label>
        </div>
        <div class="form-floating mb-3">
          <input class="form-control" type="text" id="localitate" name="localitate" required>
          <label>Localitate</label>
        </div>
      </div>
      <div class="col col-lg-3">
        <div class="form-floating mb-3">
          <input class="form-control" type="text" id="judet" name="judet" required>
          <label>Judet</label>
        </div>
        <div class="form-floating mb-3">
          <input class="form-control" type="number" id="cod_postal" name="cod_postal" required>
          <label>Cod Postal</label>
        </div>
      </div>
    </div>
  </div>

  <br />
  <button class="btn btn-secondary btn-sm" onclick="addRow()">Adresa noua</button>

  <h5 class="form-header">Contact</h5>
  <div class="row g-2">
    <div class="col col-lg-3">
      <div class="form-floating mb-3">
        <input class="form-control" type="tel" id="telefon" name="telefon" [(ngModel)]="pacient.telefon">
        <label>Telefon:</label><br>
      </div>
    </div>
    <div class="col col-lg-3">
      <div class="form-floating mb-3">
        <input class="form-control" type="email" id="email" name="email" [(ngModel)]="pacient.email">
        <label>Email:</label><br>
      </div>
    </div>
  </div>

  <br />
  <button class="btn btn-primary">Salveaza</button>
</form>

<div class="container py-5"> </div>
