<h1 id="tableLabel">Pacienti</h1>

<p *ngIf="!pacs"><em>Loading...</em></p>

<div class="container py-2" style="padding-left:0px">
  <button class="btn btn-primary" [routerLink]="['/view-pacient']">Adauga pacient</button>
</div>

<table class='table table-striped' aria-labelledby="tableLabel" *ngIf="pacs">
  <thead>
    <tr>
      <th>Selectat</th>
      <th>Nume</th>
      <th>Prenume</th>
      <th>CNP</th>
      <th>Data Nastere</th>
      <th>Telefon</th>
      <th>Email</th>
      <th>Actiuni</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let pac of pacs">
      <td width=1% align="center">
        <input type="checkbox" [(ngModel)]="pac.selectat">
      </td>
      <td>{{ pac.nume }}</td>
      <td>{{ pac.prenume }}</td>
      <td>{{ pac.cnp }}</td>
      <td>{{ pac.data_Nastere| date:'dd.MM.yyyy'}}</td>
      <td>{{ pac.telefon }}</td>
      <td>{{ pac.email }}</td>
      <td>
        <button class="btn btn-secondary btn-sm" (click)="modificaClicked(pac)">Modifica</button>
      </td>
    </tr>
  </tbody>
</table>

<button style="float: right;" class="btn btn-primary" (click)="stergeClicked()">Sterge</button>

<div class="container py-5"> </div>
