<h2 id="tableLabel">Fisa medicament</h2>

<form (ngSubmit)="salveazaClicked()">
  <h5 class="form-header">Date personale</h5>
  <div class="row g-2">
    <div class="col col-lg-3">
      <div class="form-floating mb-3">
        <input class="form-control" type="text" id="denumire" name="denumire" [(ngModel)]="medicament.denumire" required>
        <label for="denumire">Denumire</label>
      </div>
    </div>
    <div class="col col-lg-3">
      <div class="form-floating mb-3">
        <input class="form-control" type="text" id="concentratie" name="concentratie" [(ngModel)]="medicament.concentratie" required>
        <label for="concentratie">Concentratie</label>
      </div>
    </div>
    <div class="col col-lg-3">
      <div class="form-floating mb-3">
        <input class="form-control" type="text" id="forma" name="forma" [(ngModel)]="medicament.forma" required>
        <label for="forma">Forma</label>
      </div>
    </div>
    <div class="col col-lg-3">
      <div class="form-floating mb-3">
        <input class="form-control" type="text" id="descriere" name="descriere" [(ngModel)]="medicament.descriere" required>
        <label for="descriere">Descriere</label>
      </div>
    </div>
  </div>

  <br />
  <button class="btn btn-primary">Salveaza</button>
</form>

<div class="container py-5"> </div>
